/* @utility font-h1 {
  font: 400 42px/46px x, sans-serif;
} */

/* @utility font-h2 {
  font: 600 24px/28px x, sans-serif;
} */

/* @utility font-h3 {
  font: 600 16px/20px x, sans-serif;
} */

/* @utility font-h4 {
  font: 600 14px/18px x, sans-serif;
} */
